RestauranteVistas/.vs/RestauranteVistas/FileContentIndex/71e8d79a-11f4-47e4-8619-cf45602e0a20.vsidx
RestauranteVistas/.vs/RestauranteVistas/FileContentIndex/43ba7eb0-9662-406e-9827-3bddf9300323.vsidx
RestauranteVistas/.vs/RestauranteVistas/FileContentIndex/3adbf390-9cf6-4617-b96a-31419a4b7766.vsidx
*.vsidx
